body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 60px;
}
.middle {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    text-align: center;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
}
.result {
    display: flex;
    justify-content: center;
    height: 160px;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background-color: black;
    color: white;
}
.player,.computer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    color: black;
    flex-grow: 1;
}
#buttons {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 32px;
}
button {
    width: 80px;
    height: auto;
}
img {
    height: 30px;
    width: auto;
}
/* * {
    outline: blue solid 1px;
} */