body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 120px;
    background-color: beige;
    color: #FFDB58;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-size: 48px;
}
.sub {
    font-size: 28px;
    color: red;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.middle {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    text-align: center;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: black;
}
.result {
    display: flex;
    justify-content: center;
    height: 160px;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;

    color: white;
}
.player,.computer {
    display: flex;
    flex-direction: column;
    align-items: center ;
    font-size: 24px;
    height:500px;
    width: auto;
    /* flex-grow: 1; */
}
#buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    gap: 32px;
}
button {
    margin-top: 40px;
    width: 180px;
    height: 170px;
    background-color: #fadadd;
    font-family: 'Allerta Stencil';
    color: white;
    box-shadow: none;
    border: none;
}
button .clickstyle {
    border-style: solid;
    border-color: blue;
    border-width: 3px;
}
img {
    height: 30px;
    width: auto;
}
/* * {
    outline: blue solid 1px;
} */